{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar aula</title>

    <link rel="stylesheet" href="{% static 'css/adicionar-aula/main.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <header class="container">
        <div class="logo">
            <img src="{% static 'images/logo1 1.png' %}" alt="Logo Having Fun">
        </div>
        <div class="buttons">
            <a href="/dashboard" class="btn-secondary">
                <img src="{% static 'images/arrow-left-02.svg' %}" alt="Ícone de cadastro">
                Voltar para Dashboard
            </a>
        </div>
    </header>

    <main class="container">
        <h2>Preencha os campos para adicionar um usuário ao sistema</h2>

        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn-secondary" type="submit">Cadastrar</button>
        </form>
    </main>
    
</body>

</html>