{% load static %} {% load crispy_forms_tags %} {% block content %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Having Fun</title>

    <link rel="stylesheet" href="{% static 'css/login/styles.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <img src="{% static 'images/logo1 1.png' %}" alt="Logo Having Fun">
        <button class="btn-primary">Login</button>
    </header>

    <main>
        <div class="main-content">
          <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>
                    <strong>Faça Login para continuar</strong>
                </legend>

                <div class="divider"></div>
                {{ form|crispy }}
                <button class="btn-primary" type="submit">
                  Fazer Login
                </button>
            </fieldset>
          </form>


            <small>
                <strong>Não tem sua conta ainda?</strong>
                <br>
                <a href="/criarconta">Solicite seu primeiro acesso</a>
            </small>
        </div>
    </main>
</body>
</html>
{% endblock %}
