{% load static %} 

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout | Having Fun</title>

    <link rel="stylesheet" href="{% static 'css/logout/styles.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'images/logo1 1.png' %}" alt="Logo Having Fun">
        <a href="{% url 'aula:login' %}">
            <button class="btn-primary">Login</button>
        </a>
    </header>

    <main>
        <div class="main-content">
            <h2>Você saiu da sua conta</h2>

            <div class="buttons">
                <a href="{% url 'aula:login' %}">
                    <button class="btn-primary">
                        Fazer Login
                    </button>
                </a>
                <a href="{% url 'aula:criarconta' %}">
                    <button class="btn-secondary">
                        Criar uma Conta
                    </button>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
{% endblock %}
