:root {
  --width-sidebar: 80px;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.justify-between {
  justify-content: space-around;
  gap: 30px;
}

& h2, & p {
  margin: 0;
}

& h2 {
  color: #d24d3e;
  font-size: 20px;
}

body {
  --bg-color: #f5e3d7;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: var(--bg-color);
  flex-direction: column;
}

body.dark {
  --bg-color: #d24d3e;
  color: white;

  & h1, h2, h3 {
    color: white;
  }

  .sidebar {
    background-color: #f35846;
  }

  .circular-progress  {
    border: 2px solid white;
    background-image: conic-gradient(#ededed 3.6deg, #d24d3e 0deg);
  }
  
}

.sidebar {
  width: var(--width-sidebar);
  background-color: #f9a66c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: 200;
}

button {
 border: none;
 outline: none;
 background: #e4cebb;
 width: 44px;
 height: 44px;

 display: flex;
 align-items: center;
 justify-content: center;
}

.active {
  height: 44px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  top: 0;
  transition: 0.4s;
}

.menu-icon {
  margin-block: 16px 20px;
}

#logo {
  display: none;
  width: 0;
  opacity: 0;
  transition: 0.3s;
}

.search-icon {
  padding: 10px;
}

.search-icon img {
  width: 20px;
}

.nav-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.nav-icons a img,
.menu-icon img,
.logout-icon img {
  width: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.logout-icon {
  background-color: #e4cebb;
  padding-block: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.show {
  --width-sidebar: 250px;
  align-items: flex-start;
}

.show .menu-icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.show #logo {
  display: block;
  width: 50px;
  opacity: 1;
}

.show .nav-icons {
  padding-left: 14px;
}

.icon {
  height: 44px;
}

.show .nav-icons .icon::after {
  content: attr(aria-label);
  color: #084236;
  font-size: 16px;
  margin-left: 6px;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.show .logout-icon {
  justify-content: flex-start;
}

.show .logout-icon img {
  margin-left: 14px;
}

.show .active {
  width: 222px;
  left: 14px;
}

.main-content {
  margin-left: var(--width-sidebar);
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.show ~ .main-content {
  margin-left: 250px;
}

.main-content h1 {
  color: #d24d3e;
  font-size: 24px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  margin-top: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  height: 300px;
  background: #f9a66c;
  padding: 12px 10px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card_load,
.card_load_extreme_title,
.card_load_extreme_descripion {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
  border-radius: 5px;
}

.card_load {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-radius: 50%;
}

.card_load_extreme_title {
  width: 90%;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 12px;
}

.card_load_extreme_descripion {
  width: 90%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 12px;
  margin-top: 10px;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

.progress {
  text-align: center;

  & h2 {
    margin-bottom: 15px;
  }
}

.circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background-image: conic-gradient(#d24d3e 3.6deg, #ededed 0deg);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::after {
  content: "";
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #f5e3d7;
  position: absolute;
}

.progress-value {
  position: relative;
  z-index: 1;

  font-size: 40px;
  font-weight: bolder;
  color: #d24d3e;
}

#menu-sidebar {
  display: none;
}

#section-conteudos {
  & p {
    margin-bottom: 15px;
  }
}

#section-calendar {
  display: none;
}

#section-calendar iframe {
  width: 100%;
  height: 600px;
}

#section-profile {
   width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

#section-settings {
  display: none;
}

.configs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto ;
}

#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}


.profile-card {
  margin-inline: auto;

  background-color: #d94f3a;
  width: 300px;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  text-align: center;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.profile-image {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  margin-top: 60px;
}

.hashtag {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.name {
  color: #00ffc3;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  font-weight: 700;
  line-height: 1.3;
}

.start-label {
  color: #fff;
  font-size: 0.9rem;
  margin: 0.5rem 0 0;
}

.start-date {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}

.logo {
  margin-top: 1.5rem;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 970px) {
  #menu-sidebar {
    display: block;
    position: absolute;
    right: 14px;
    top: 29px;
    z-index: 1;
    cursor: pointer;
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
  }

  .sidebar.show {
    top: 0;
    opacity: 1;
  }

  .main-content {
    margin-left: 0;
  }

  .flex.flex-column {
    flex-direction: column;
  }

  .card {
    width: 90%;
    margin-inline: auto;
  }

  #section-calendar iframe {
    height: 300px;
  }
}

@media (max-width: 460px) {
  #section-calendar iframe {
    width: 100%;
    height: 250px;
  }
}
